# environments
.venv
.git

# special directories
_ignore
_exp
**/__pycache__/
**/.ipynb_checkpoints/
**/.cache/

# general directories
prompt_eng
notebooks

# files
.gitignore
**/*.txt
**/*.ipynb
**/*.md
**/*.log
**/*.pyc
**/*.pyo
**/*.pyd

app/ml_models/main.py

# exceptions
!requirements.txt